<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <default-context-path>pas</default-context-path>

    <data-source>
        <name>java:app/rocky/myCon</name>
        <class-name>com.mysql.cj.jdbc.MysqlConnectionPoolDataSource</class-name>
        <url>jdbc:mysql://localhost:49157/nbd?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;createDatabaseIfNotExist=true</url>
        <user>root</user>
        <password>root</password>
    </data-source>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>manager</role-name>
    </security-role>
    <security-role>
        <role-name>client</role-name>
    </security-role>
    <security-role>
        <role-name>guest</role-name>
    </security-role>

    <default-context-path>pas</default-context-path>

</web-app>